* {margin:0;
   padding:0;
   box-sizing:border-box;}
   
body{
	background-image: url(img/fondo-negro.png);
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	width:90%;
	margin:auto;
}


header{
	width:100%;
	position:relative;
}

.logo{
	text-align:center;
	position:relative;
}

.logo img{
	width:35%;
	background-color:rgb(221, 221, 221);
	border-radius:5px;
	margin-top:10px;
}

.logo2{
	text-align:center;
	margin-right:30px;
}

.logo2 img{
	width:75%;
}

.redes{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-right:0px;
}

.redes ul li{
	display:inline-block;
	margin: 0 3px;
	width:50px;
	height:30px;
	text-align:center;
	padding:0 5px;	
}

.redes ul li a{
	display:block;
	padding: 5px 0px;
	background-color:#E55539;
	text-decoration:none;
	color:black;
	border-radius:3px;
	transition:0.3s;
}

.redes ul li a:hover{
	transform:scale(1.3);
}

/*CSS REPRODUCTOR AUDIO*/

.audio-player{
	text-align:center;
}

audio
{
width: 25%;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
margin-bottom:30px;
}
audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}

@media only screen 
and (max-device-width: 700px) {
	.contenedorGeneral{
		margin-top:30%;
	}
	
    .logo img{
		width:70%;
	}
	
	.logo2{
		margin-top:5%;
	}
	
	.logo2 img{
		width:110%;
		margin-left:-5%;
	}
	
	audio{
		width:40%;
	}
	
	
    .redes ul li{
	     display:inline-block;
	     margin: 0 10px;
	     width:90px;
	     height:70px;
	     text-align:center;
	     padding:0 10px;	
	}
	
	.redes ul li a{
	     display:block;
	     padding: 10px 0px;
	     background-color:#E55539;
	     text-decoration:none;
	     color:black;
	     border-radius:6px;
	     transition:0.3s;
	}
	
}

@media only screen
and (min-device-width: 700px) 
and (max-device-width: 900px){
	
	.contenedorGeneral{
		width:95%;
		margin:auto;
	}
}





